.Applyuse-main {
  width: 100%;
  padding: 20px 34px 20px 30px;
  .box-pic {
    display: flex;
    .img-left{
      margin-right: 69px;
    }
    .main-login-wrap{
      color: #0D1731;
      h3{
        font-size: 29px;
        font-weight: bold;
        border-bottom: solid 1px #dadada;
        padding-bottom: 25px;
        margin-bottom: 20px;
      }
      h4{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      p{
        font-size: 12px;
        opacity: 0.5;
        line-height: 17px;
      }
      span{
        margin-top: 25px;
        display: inline-block;
        font-size: 14px;
        color: #034EA2;
      }

    }
  }
}
