.portal-index {
  overflow: hidden;
  width: 100%;
  background: #f6f7fb;

  .middle_content_wrap01{
    padding-top: 110px;
    background:#fff;
    height: 675px;
  }

  .main_banner {
    width: 100%;
    // height: 420px;
    //padding-top: 90px;
    //margin-top: 90px;
    //min-width: 1200px;
    min-width: 1920px;
    background: url(../../../../assets/img/train_space/training-basecon02.png) no-repeat center center ;
    background-color:#392E8A ;
    position: relative;

    .asas {
      height: 420px;
      transform: translateY(-50px);
    }

    .main_banner_wrap {
      width: 1200px;
      margin: 0 auto;
      height: 100%;
      // background: #fff;
      position: absolute;
      display: flex;
      top: 90px;
      justify-content: space-around;
      left: 50%;
      margin-left: -600px;

      .main_banner_left {

        flex: 1;
        // background: #31324D;
        position: relative;
        padding-left: 20px;

        .main_banner_left_top {
          font-weight: bold;
          font-size: 18px;
          color: #FFFFFF;

          opacity: 0.5;
        }

        .main_banner_left_middle {
          font-weight: bold;
          font-size: 56px;
          line-height: 77px;
          color: #fff;
          line-height: 73px;
          width: 113%;
        }

        .main_banner_left_bottom {
          font-weight: bold;
          font-size: 16px;

          line-height: 30px;
          color: #FFFFFF;
          margin-top: 20px;

          opacity: 0.7;
        }
      }

      .main_banner_right {
        flex: 1;
        position: relative;
        height: 134%;
        top: -90px;
        left: 135px;

        >img {
          // height: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
          display: block;
        }
      }
    }

  }

  .vr_wrap {
    width: 100%;
    margin: 0 auto;
    // height: 380px;
    min-width: 1200px;
    background: #F7F9FC;
    
    margin-bottom: 100px;
    .vr_top {
      text-align: center;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      color: #0D1731;
      padding-top: 24px;
      position: relative;
      margin-bottom: 40px;
    }

    .vr_top::before {
      content: '';
      width: 74px;
      height: 4px;
      background: #DE2C2C;
      position: absolute;
      bottom: -15px;
      border-radius: 4px;
      left: 48%;
    }

    .vr_middle {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #0D1731;
      opacity: 0.5;
    }

    .vr_bottom {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-top: 90px;

      .middle {

        font-family: "Noto Sans SC";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
  
        /* #0D1731 */
        color: #0D1731;
        
      }
      .bottom{
        
        font-family: "Noto Sans SC";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #0D1731;
        opacity: 0.5;
      }

      .item {
        width: 230px;
        height: 300px;

        .top {
          width: 100%;

          img {
            width: 155px;
          }

        }



      }

      .item:nth-child(3) .top img {
        //width: 100px;
        //position: relative;
      }

      .item:nth-child(4) .middle,
      .item:nth-child(4) .bottom {

        position: relative;
        top: -2px;
      }
    }


    >img {
      width: 100%;
    }
  }

  .attchement_bg {
    width: 100%;
    min-width: 1200px;
    height: 570px;
    background: url(../../../../assets/img/train_space/attchement02.jpg);
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
    background-attachment: fixed;
    // background-position: -230px;

    .top {
      // font-weight: 500;
      // text-align: center;
      // color: #fff;
      padding-top: 80px;
      padding-bottom: 40px;
      position: relative;



      font-family: "Noto Sans SC";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 51px;
      text-align: center;
      color: #FFFFFF;
    }

    .top::before {
      content: '';
      width: 80.89px;
      height: 4px;
      background: #DE2C2C;
      position: absolute;
      bottom: 28px;
      border-radius: 4px;
      left: 47%;
    }

    .align-middle {
      width: 612px;
      height: 54px;
      margin: 0 auto;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      opacity: .8;
      color: #ffff;
      text-align: center;
    }

    img {
      position: absolute;
      bottom: -100px;
      left: 50%;
      //margin-left: -260px;
      margin-left: -290px;
      display: inline-block;
      width: 570px;
      height: 340px;
      
    }
    .signet{
      // width: 188.7px;
      // height: 153.61px;
      // left: 1217.24px;
      // top: 262px;
      // background: url(../../../../assets/img/train_space/signet_ico.png);
      // opacity: 0.4;

      //transform: rotate(27.21deg);

      position: absolute;
      width: 188.7px;
      height: 153.61px;
      right: 50%;
      top: 253px;
      transform: translate(196%, 13%);
      background: url(../../../../assets/img/train_space/signet_ico.png);
      opacity: 0.4;
      background-size: cover;
      
    }
  }

  .pagnation_swiper {
    width: 100%;
    height: 659px;
    background: #F7F9FC;

    .pagnation_swiper_top {
      width: 140px;
      height: 44px;
      margin: 0 auto;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      color: #0D1731;
      padding-top:75px;
      position: relative;
      margin-bottom: 20px;
    }

    .pagnation_swiper_middle {
      width: 350px;
      margin: 0 auto;
      height: 19px;
      font-weight: 500;
      font-size: 14px;
      line-height: 44px;
      text-align: center;
      color: #0D1731;
      padding-top: 50px;
      opacity: .5;

    }

    .pagination_swiper_bottom {
      width: 1100px;
      margin: 0 auto;
      margin-top: 30px;
      background: #fff;
      transform: translateY(140px);
      height: 200px;
      border-radius: 20px;
      box-shadow:0px 15px 10px -15px #ccc;

      .swiper-container {
        height: 100%;
        width: 100%;

        .swiper-wrapper {
          height: 100%;
          width: 100%;

          .swiper-slide {
            height: 100%;
            align-items: center;
            padding: 0 100px;
            display: flex;
            justify-content: space-around;

            .left {
              flex: 1;

              >img {
                display: block;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                margin-left: 70px;
              }
            }

            .right {
              flex: 2.8;

              .name {
                font-size: 20px;
                font-weight: 700;
                color: #000;
                line-height: 44px;
              }

              .desc {
                font-size: 14px;
                color: #000;
                opacity: 0.5;
              }
            }
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          background: #ccc;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          line-height: 30px;
          color: #fff;
        }

        .swiper-button-next {
          margin-right: 40px;
        }

        .swiper-button-prev {
          margin-left: 40px;

        }
      }

      .swiper-pagination111 {
        width: 100%;
        position: absolute;
        margin: 0 auto;
        text-align: center;
        top: -100px;

        .swiper-pagination-bullet {
          width: 70px;
          height: 70px;
          display: inline-block;
          margin: 0 10px;
          background: #fff;
          // .swiper-pagination-bullet-active{
          //   border: none;
          // }
          
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }

    .pagnation_swiper_top::before {
      content: '';
      width: 53px;
      height: 4px;
      background: #DE2C2C;
      position: absolute;
      bottom: -58px;
      border-radius: 4px;
      left: 30%;
    }
  }

  .hover_scala {
    width: 100%;
    height: 659px;
    background: #FFFFFF;
    min-width: 1200px;

    .hover_scala_wrap {
      width: 1200px;
      margin: 0 auto;

      .hover_scala_top {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #000;
        padding-top: 30px;
        position: relative;
        margin-bottom: 40px;
      }

      .hover_scala_top::before {
        content: '';
        width: 53px;
        height: 4px;
        background: #DE2C2C;
        position: absolute;
        bottom: -15px;
        border-radius: 4px;
        left: 48%;
      }

      .hover_scala_middle {
        font-weight: 500;
        font-size: 14px;
        line-height: 29px;
        text-align: center;
        color: #0D1731;
        margin-bottom: 70px;
        opacity: 0.5;
      }

      .hover_scala_bottom {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        .hover_item {
          background: #FBFBFB;
          border: 2px solid #F0F0F0;
          box-sizing: border-box;
          border-radius: 11px;
          width: 336.93px;
          height: 327.75px;
          transition: all 0.6s;
          position: relative;
         
          .hover_item_red {
            width: 64px;
            height: 24px;
            background: #392E8A;
            text-align: center;
            line-height: 24px;
            color: #fff;
            font-size: 14px;
            border-radius: 2px;
            position: absolute;
            top: 20px;
            left: 25px;
          }

          .top {
            width: 100%;

            img {
              width: 100%;
              border-top-left-radius: 11px;
              border-top-right-radius: 11px;
            }
          }

          .text {
            padding: 20px 30px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #0D1731;
            opacity: 0.5;
          }
        }

        .hover_item:hover {
          transform: scale(1.2);
          border-color: #392E8A;
          box-shadow:2px 15px 10px -15px #ccc;
        }
      }
    }
  }

  .zhihui {
    width: 100%;

    height: 1060px;
    background: #fff;
    padding-top:50px;
    padding-bottom:100px;
    .content_img {
      // width:1200px;
      margin: 0 auto;
      height: 100%;
      min-width: 1200px;

      background: url(../../../../assets/img/train_space/zhihui_03.png) no-repeat center center;
      background-size: contain;
    }
    
  }

  .hezuo {
    width: 100%;
    height: 714px;
    background: #F0F5FC;

    .hezuo_wrap {
      width: 1200px;
      min-width: 1200px;
      margin: 0 auto;

      .top {
        font-weight: 500;
        font-size: 31px;
        line-height: 43px;
        text-align: center;
        color: #0D1731;
        padding-top: 176px;
        padding-bottom: 20px;
        position: relative;
      }

      .top::before {
        content: '';
        width: 53px;
        height: 4px;
        background: #DE2C2C;
        position: absolute;
        bottom: 0px;
        border-radius: 4px;
        left: 48%;
      }

      .middle {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .item {
          margin: 20px 10px;
          width: 23%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .school_help {
    width: 1200px;
    height: 606px;
    min-width: 1200px;
    margin-left: auto;
    margin-right:auto;
    background: url(../../../../assets/img/train_space/school_help1.png) no-repeat center center;
    background-size: cover;
    margin-top: 20px;
  }

  .jiazhi{
    width: 100%;

    //height: 650px;
    overflow: auto;
    background: #F7F9FC;
    padding-top:50px;
    padding-bottom:50px;

    .jiazhi_content{
      width: 1200px;
      margin-left:auto;
      margin-right:auto;
      .jiazhi_info{

        .jiazhi_info_item{
          // text-align: center;
          // display: flex;
          // justify-content: space-around;
          float: left;
          margin-right: 44px;
          width: 370px;
          height: 406px;
          background: #FFFFFF;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          padding-top:40px;
          padding-left:50px;
          padding-right:50px;
          .top{
            width: 100%;
            height: 150px;
            text-align: center;
            img{
              margin-left: auto;
              margin-right: auto;
            }
          }
          .middle{
            width: 100%;
          }
          .bottom{
            width: 100%;
            text-align: left;
          }
        }
        .jiazhi_info_item:last-child{
          margin-right: 0px;
        }
      }

    }
    
    
  }



  .line_red{
    width:90px;
    height:4px ;
    background-color: #DE2C2C;
    margin-left:auto;
    margin-right: auto;
    display:block;
    margin-top:15px;
    margin-bottom:15px;
    border-radius: 5px;
    //border-bottom: 3px solid #DE2C2C;

  }
  .zh_text_title{
    text-align: center;
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    color: #0D1731;
  }
  .zh_text_title_red{
    text-align: center;
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #DE2C2C;
  }
  .zh_text_content{
    text-align: center;
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #0D1731;
    opacity: 0.5;
    
  }
}

.swiper-container {
  --swiper-theme-color: #ff6600;
  --swiper-pagination-color: #00ff33;
  /* 两种都可以 */
}

.swiper-container {
  --swiper-theme-color: #ff6600;
  /* 设置Swiper风格 */
  --swiper-navigation-color: #00ff33;
  /* 单独设置按钮颜色 */
  --swiper-navigation-size: 30px;
  /* 设置按钮大小 */
}

// .swiper-container{
//   width: 500px;
//   height: 213px;
// }
// .swiper-wrapper{
//   height: auto;
// }
// .swiper-slide img{
//   width: 100%;
//   display: block;
// }
// .swiper-container-thumbs .swiper-slide-thumb-active img{
//   opacity: 1;
// }
// .swiper-container-thumbs img{
//   opacity: .5;
// }




















