.maptit{
  padding: 5px 10px;
  background: #fff;
  display: block;
  width: 170px;
  height: 110px;
  box-shadow: 1.32508px 3.97524px 9.27557px rgba(0, 0, 0, 0.51);
  border-radius: 5.47192px;
  h5{
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22.5264px;
    line-height: 30px;
    color: #333333;
    border-bottom: 1px solid #dedede;
  }
  h6{
    display: block;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
  }
}