.schoolHeader{
    width: 100%;
    min-height: 51px;
}
.academicspace_container{
    background: #f6f7fb;
}
.resource_main.resource_mainlist .resource_container{
    width: 100%;
    min-height:300px;
}