.Portallogin-wrap-main{
    width:100%;
    height:100%;
    display: flex;
    box-sizing: border-box;
    background:#f6f7fb;
    //background-size: 100% 100%;
    position: relative;
    padding-top:84px;
    .width-main{
        width:1200px;
        margin:0 auto;

    }
    .login-top{
        width:100%;
        position: fixed;
        left:0;
        top:0;
        background: #FFFFFF;
        line-height: 84px;
        z-index:2;
        align-items: center;
        height:84px;
        .logo{
            width: 243px;
            display: inline-block;
            height:auto;
            float:left;
            vertical-align: middle;
            line-height: 84px;
            a{
                display: block;
                vertical-align: middle;
            }
            img{
                width:100%;
                height:100%;
                vertical-align: middle;
            }
        }
        .text-right{
            float:right;
            display: flex;
            text-align:right;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            align-items: center;
            color: #000000;
            cursor: pointer;
            .icon-img{
                font-size: 25px;
                margin-right: 10px;
                color: #0D1731;
                display: inline-block;
            }
            img{
                width:25px;
                margin-right:10px;
            }
        }
        .text-right:hover{
            color:#034EA2;
            .icon-img{
                color:#034EA2;
            }
        }
    }
    .main-warptext{
        //background: url(../../assets/images/login-bei.png) no-repeat top right #f6f7fb;
        width:100%;
        display: block;
    }
    .content-wrap{
        display: flex;
        align-items: center;
        justify-content: right;
        width:100%;
        position: relative;
        height:calc(100% - 63px);
    }
    .img-left{
        width:52%;
        //background: url("../../assets/images/login-leftbg.png") no-repeat;
        //background-size: 100% 100%;
        margin:0 46px 0 0;
        //min-height:410px;
        float: left;
        position: absolute;
        left:46px;
        margin-top: -1%;
        video::-webkit-media-controls {
            display: none !important;
        }
        video{
            max-width:100%;
            outline:none
        }
    }
    .main-login-wrap{
        width: 38%;
        float: right;
        background: #FFFFFF;
        box-shadow: 4px 6px 39px rgba(101, 138, 193, 0.2);
        border-radius: 10px;
        padding:4% 5% 3%;
        margin-top:-4%;
        .login-title{
            display: block;
            width:100%;
            margin-bottom:30px;
            div{
                display: inline-block;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 20px;
                align-items: center;
                color: #231F20;
                padding-bottom: 15px;
                position: relative;
            }
            div::after{
                position: absolute;
                left:0;
                bottom:0;
                width:100%;
                height:4px;
                background: #034EA2;
                border-radius: 4px;
                content:"";
            }
        }
        .form_it{
            margin-bottom:30px!important;
            p{
                font-weight: normal;
                font-size: 18px;
                line-height: 14px;
                align-items: center;
                color: #000000;
                display:block;
                margin-bottom:0;
            }
            .ant-input-affix-wrapper{
                margin-top:10px;
                .ant-input{
                    border: 1px solid #D6DFE6;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
            }
        }
        .form-it-last{
            margin-bottom:40px!important;
        }
        .login_form_button{
            width:100%;
            display:block;
            background: #034EA2;
            border-radius: 5px;
            color:#fff;
            border:none;
            line-height: 40px;
            height:40px;
        }
    }
    .footer-p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        display: block;
        text-align: center;
        width:100%;
        position: absolute;
        bottom:48px;
        align-items: center;
        color: #0D1731;
        opacity: 0.3;
        a{
            color: #0D1731;
        }
    }
}


.login-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    // background: #F6F7FB;
    // padding:6% 70px;
    box-sizing: border-box;
    // background: url(../../assets/images/login-bgc.png) no-repeat;
    background-size: 100% 100%;
    .content-wrap{
        margin:auto;
        display: flex;
    }
    .img-left{
        width: 880px;
        // background: url("../../assets/images/login-left.png") no-repeat;
        background-size: 100% 100%;
        height: 675px;
        // flex: 1;
        box-shadow: 0px 0 26px rgba(107, 110, 137, 0.3);
        border-radius: 21px;
        margin-right: 30px;
        // position: absolute;
        // left: 10%;
        // top: 90px;

        // transform: translate(0, -60%);
    }
}
.img-user{
    width: 21px;height: 23px;
}
.img-password{
    width: 17px;height: 17px;
}
.teaching-login-wrap .login-title div{
    text-align: left;
    font-size: 30px;
    margin-left: 34px;
    margin-top: 90px;
    word-spacing: normal;
}
.teaching-login-wrap .login-title p {
    width:261px;
    height:50px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:50px;
    margin-left: 34px;

}

.teaching-login-wrap {
    width: 423px;
    height: 675px;
    box-shadow: 0px 10px 10px rgba(107, 110, 137, 0.07);
    border-radius: 21px;
    // position: absolute;
    // right: 10%;
    // top: 102px;
    background: #fff;


    .login-title {
        text-align: center;
        margin-top: 80px;

        div {
            font-size: 30px;
            margin-top: 30px;
            // font-weight: bold;
            color: #333333;

        }

        p {
            width:261px;
            height:21px;
            font-size:20px;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(153,153,153,1);
            line-height:37px;
            margin-top: 20px;
            margin-bottom: 80px;

        }
    }

    .login-form {
        padding: 0 34px;
        border: none;
        border-radius:0;
        .text-span{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            display: inline-block;
            color: #034EA2;
            margin-top:14px;
            a{
                font-size: 14px;
                line-height: 14px;
                display: block;
                color: #034EA2;
            }
        }
        .forget-password{
            text-align: right;
            cursor: pointer;
            display: inline-block;
        }
    }

    .ant-btn {
        width:100%;
        height:60px;
        background:linear-gradient(90deg,rgba(111,178,255,1),rgba(62,120,237,1));
        box-shadow:0px 7px 17px 0px rgba(50,129,255,0.2);
        border-radius:30px;
        margin-top: 90px;
        color: #fff;
        font-size: 22px;
    }

    .ant-input{
        background: #fff;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: none!important;
        outline: none;
    }


    .ant-input-affix-wrapper .ant-input:not(:first-child) {

        border-bottom: 1px solid #ccc;
        background: #fff;margin-left: 10px;
        outline: none;  border-radius: none!important;
    }
    /*更改谷歌浏览器input背景*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        /*延迟背景颜色载入*/
        -webkit-transition-delay: 99999s;
        -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
    }

}
.ant-input-affix-wrapper .ant-input:focus {
    // border: none;
    box-shadow: none;
    border-radius: none;
}
.titles-login{
    //background: url('../../assets/images/logintitles.png') no-repeat;
    height: 300px;
    background-position: 80px 80px;
}
.ant-input-prefix{
    border: none;
    outline: none;
}
.ant-form-item {

    border-radius: none !important;
}
.teaching-login-wrap .ant-input-affix-wrapper .ant-input:not(:first-child){
    border-radius: 0;
}
.login_mainwarp{
    .text_span{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        color: #034EA2;
        margin-top:14px;
        a{
            font-size: 14px;
            line-height: 14px;
            display: block;
            color: #034EA2;
        }
    }
    .forget-password{
        text-align: right;
        cursor: pointer;
        display: inline-block;
        float:right;
        margin-top:14px;
        margin-bottom:0;
    }
}
.forget-password{
    text-align: right;
    cursor: pointer;
}